
*.cache
obj/**
Properties/**
bin/**
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/AllOurSpiritMod.csproj.CoreCompileInputs.cache
obj/Debug/AllOurSpiritMod.csprojAssemblyReference.cache
